<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Xayit</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='eid.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
</head>
<body>
    <nav class="navbar_navbar-expand-lg_navbar-light_bg-light">
        <a class="navbar-brand" href="/">Xayrli kun</a>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item-nav-link-active" href="/yangi">Yangi yil </a>    
            <a class="nav-item-nav-link-active" href="/eid">Xayit <span class="sr-only">(shu yerdasiz)</span></a>
            <a class="nav-item-nav-link-active" href="/nowrooz">Navruz</a>
            <a class="nav-item-nav-link-active" href="/ram">Ramazon</a>
          </div>
        </div>
      </nav>
    <div class="eid"></div>
<ul class="star-1">
  <li></li> 
  <li></li>
  <li></li> 
  <li></li>
</ul>
<ul class="star-2">
  <li></li> 
  <li></li>
  <li></li> 
  <li></li>
</ul>
<ul class="star-3">
  <li></li> 
  <li></li>
  <li></li> 
  <li></li>
</ul>
<ul class="star-4">
  <li></li> 
  <li></li>
  <li></li> 
  <li></li>
</ul>
<ul class="star-5">
  <li></li> 
  <li></li>
  <li></li> 
  <li></li>
</ul>
<script src="{{ url_for('static', filename='main.js') }}"></script>
</body>
</html>