<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bayramlar</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <link href="{{ url_for('static', filename='https://fonts.cdnfonts.com/css/beauty-christmas')}}" rel="stylesheet">
</head>
<body class="body11">
    <style>
        @import url('https://fonts.cdnfonts.com/css/beauty-christmas');
</style>

<nav class="navbar_navbar-expand-lg_navbar-light_bg-light">
    <a class="navbar-brand" href="/">Xayrli kun</a>
      <div class="navbar-nav">
        <a class="nav-item-nav-link-active" href="/yangi">Yangi yil</a>
        <a class="nav-item-nav-link-active" href="/eid">Xayit</a>
        <a class="nav-item-nav-link-active" href="/nowrooz">Navruz</a>
        <a class="nav-item-nav-link-active" href="/ram">Ramazon</a>
      </div>
    </div>
  </nav>



<script src="{{ url_for('static', filename='main.js') }}"></script>
</body>
</html>