<nav class="tm-main-nav">
    <ul class="tm-main-nav-ul">
        <li class="tm-nav-item"><a href="/" class="tm-nav-item-link tm-button active">Gallery</a>
        </li>
        <li class="tm-nav-item"><a href="/timeline" class="tm-nav-item-link tm-button">Timeline</a>
        </li>
        <li class="tm-nav-item"><a href="/about" class="tm-nav-item-link tm-button">About</a>
        </li>
        <li class="tm-nav-item"><a href="/contact" class="tm-nav-item-link tm-button">Contact</a>
        </li>
    </ul>
</nav>